* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f2f4f8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #ffffff;
    width: 350px;
    padding: 30px 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.avatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.card h2 {
    margin: 10px 0 5px;
    font-size: 24px;
    color: #222;
}

.role {
    color: #777;
    font-size: 16px;
    margin-bottom: 20px;
}

.info p {
    margin: 8px 0;
    color: #444;
    font-size: 15px;
}

.buttons {
    margin-top: 25px;
}

.btn {
    display: inline-block;
    padding: 10px 18px;
    margin: 5px;
    background-color: #1f5eff;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-size: 14px;
    transition: background 0.3s ease;
}

.btn:hover {
    background-color: #1747c9;
}
.info a{
    text-decoration: none;

}